@font-face {
    font-family: "OpenSans";
    font-display: swap;
    src: local("OpenSans"), local("Open Sans"), url("./fonts/opensans.woff2") format("woff2"), url("./fonts/opensans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    font-display: swap;
    src: local("OpenSansBold"), local("Open Sans Bold"), url("./fonts/opensansbold.woff2") format("woff2"), url("./fonts/opensansbold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    font-display: swap;
    src: local("OpenSansLight"), local("Open Sans Light"), url("./fonts/opensanslight.woff2") format("woff2"), url("./fonts/opensanslight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

body {
    font-family: "OpenSans", Helvetica, sans-serif;
    color: #474747;
}

a {
    text-decoration: none
}

.page-header {
    /* width: 1600px; */
    margin: 0 auto;
    padding: 0 20px;
    color: #6a6a6a;
    font-size: 15px;
    line-height: 22px;
    font-weight: 700;
}

.contacts__text {
    font-weight: 300;
}

.contacts__logo {
    width: 210px;
    height: 42px;
}

.contacts {
    padding: 10px;
    margin-top: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1090px) {
    .contacts {
        flex-direction: column;
    }
}

.contacts__phone,
.contacts__mail,
.contacts__time {
    display: flex;
    align-items: center;
}

@media (max-width: 850px) {
    .contacts__phone,
    .contacts__mail,
    .contacts__time {
        flex-direction: column;
    }
}

.contacts__time,
.contacts__mail {
    margin-right: 20px;
}

.contacts__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 30px;
}

@media (max-width: 750px) {
    .contacts__container {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.contacts__icon {
    font-family: 'Font Awesome 5 Free';
    color: #fff;
    font-size: 30px;
    font-weight: 400;
}

.contacts__icon-container {
    width: 51px;
    height: 51px;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: #1a9bdc;
    margin: 0;
    padding: 0;
    margin-right: 20px;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.main-nav__pages,
.main-nav__social {
    list-style: none;
    padding: 0;
}

.main-nav__social-link {
    color: #191919;
    font-family: 'Font Awesome 5 Free';
    font-size: 23px;
    font-weight: 400;
    margin-right: 20px;
    color: #191919;
    font-family: 'Font Awesome 5 Free';
    font-size: 23px;
    font-weight: 400;
}

.main-nav__social-link--last {
    margin-right: 0;
}

.main-nav__link {
    color: #6c6c6c;
    font-size: 20px;
    font-weight: 600;
    margin-right: 30px;
    transition-duration: 1s;
}

.main-nav__link:hover {
    color: #000;
    font-size: 22px;
}

.main-nav__link--active {
    color: #262626;
}

.main-nav__items,
.main-nav__social-icon {
    display: inline;
}

hr {
    background-color: #c2c2c2;
    opacity: 0.31;
}

.enter {
    height: 640px;
    background: url("./image/enter.jpg") no-repeat center center;
    background-size: cover;
}

.enter__wrapper {
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
}

.enter__container {
    max-width: 550px;
    text-align: center;
    color: #474747;
    padding-left: 20px;
}

.enter__header {
    font-size: 48px;
    font-weight: 700;
}

.enter__text {
    color: #3f3f3f;
    font-size: 17px;
    font-weight: 400;
}

@media(max-width: 930px) {
    .enter__container {
        max-width: 250px;
    }
    .enter__header {
        font-size: 25px;
    }
    .enter__text {
        font-size: 14px;
    }
}

.enter__button {
    width: 166px;
    height: 47px;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    box-shadow: -4px 12px 40px rgba(0, 1, 1, 0.2);
    background-color: #1a9bdc;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    transition-duration: 1s;
}

.enter__button:hover {
    transform: scale(1.2);
    box-shadow: -4px 12px 40px rgba(0, 2, 2, 0.2);
    background-color: #1a7aaa;
}

.advantages {
    background: rgb(67, 177, 210);
    background: linear-gradient(90deg, rgba(67, 177, 210, 1) 50%, rgba(55, 195, 168, 1) 100%);
    display: grid;
    grid-template-columns: repeat(4, minmax(190px, 1fr));
    grid-template-rows: minmax(360px, 1fr);
    align-content: center;
    justify-content: center;
    padding: 0 0 55px 0;
    margin: 0 auto;
}

@media (max-width: 790px) {
    .advantages {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        font-size: 14px;
    }
}

.advantages__icon-container {
    background-color: #ffffff;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    width: 75px;
    height: 75px;
    margin: 77px 0 23px 0;
    padding: 0;
    transition-duration: 2s;
}

.advantages__icon-container:hover,
.advantages__icon:hover {
    -moz-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    transform: rotateY(360deg);
}

.advantages__icon {
    transition-duration: 2s;
}

.advantages__icon--treatment {
    width: 45px;
    height: 50px;
}

.advantages__icon--emergency {
    width: 51px;
    height: 46px;
}

.advantages__icon--staff {
    width: 31px;
    height: 54px;
}

.advantages__icon--doctors {
    width: 44px;
    height: 42px;
}

.advantages__head {
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 23px;
    padding: 0;
}

.advantages__text {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    max-width: 290px;
}

.advantages__item {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

.advantages__item--treatment {
    margin-left: 75px;
}

.advantages__item--doctors {
    margin-right: 75px;
}

.choose {
    background: #f5f5f5 url("./image/choose-wooman.png") no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.choose__wrapper {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.choose__head {
    color: #494949;
    font-size: 45px;
    font-weight: 700;
    margin: 0 auto;
    padding: 0;
    padding-top: 110px;
    padding-bottom: 30px;
    text-align: center;
}

.choose__text {
    color: #6a6a6a;
    font-size: 16px;
    font-weight: 400;
    /* width: 890px; */
    margin: 0 auto;
    padding: 0;
    margin-bottom: 105px;
    text-align: center;
}

.choose__list {
    margin: 0 130px;
    display: flex;
    justify-content: space-between;
}

.choose__list-head {
    color: #6f6f6e;
    font-size: 30px;
    font-weight: 700;
}

.choose__list-text {
    color: #6a6a6a;
    font-size: 16px;
    font-weight: 400;
}

.choose__item {
    width: 370px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 105px;
}

@media (min-width: 1300px) {
    .choose__wrapper {
        width: 1300px;
    }
}

@media (max-width: 1300px) {
    .choose__item {
        width: 280px;
    }
    .choose__list {
        margin: 0 auto;
        width: 900px;
    }
}

.choose__icon-container {
    background-color: #1a9bdc;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    width: 75px;
    height: 75px;
    margin: 0 25px 20px 0;
    padding: 0;
}

.choose__container {
    margin-bottom: 70px;
}

@media (max-width: 950px) {
    .choose__wrapper {
        width: 340px;
    }
    .choose__list {
        margin: 0 auto;
        width: 280px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .choose {
        background: #f5f5f5;
    }
    .choose__container {
        margin-bottom: 20px;
    }
    .choose__list-text {
        font-size: 14px;
    }
    .choose__list-head {
        font-size: 20px;
    }
    .choose__head {
        font-size: 25px;
    }
    .choose__text {
        margin-bottom: 35px;
    }
    .choose__item {
        margin-bottom: 35px;
    }
}

.features {
    background-blend-mode: multiply;
    background-image: url("./image/Layer_9.png");
    background-color: rgb(0, 132, 189, 0.8);
    color: #ffffff;
    font-size: 25px;
    font-weight: 500;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    align-content: center;
    justify-content: center;
}

.features__item {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features__numeral {
    font-size: 60px;
    margin: 0;
    padding: 0;
}

.features__line {
    margin-top: 20px;
    height: 100%;
    width: 85px;
    margin: 25px 0;
    padding: 0;
    border-top: 6px solid #ffffff;
}

.features__text {
    margin: 0;
    padding: 0;
    width: 165px;
    padding-bottom: 160px;
}

.features__icon-container {
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    width: 91px;
    height: 80px;
    margin-top: 160px;
    margin-bottom: 45px;
    transition-duration: 1s;
}

.features__icon {
    transition-duration: 1s;
}

.features__icon:hover,
.features__icon-container:hover {
    transform: scale(1.2);
}

@media (max-width: 1040px) {
    .features {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        font-size: 20px;
        padding-bottom: 60px;
    }
    .features__icon-container {
        box-sizing: border-box;
        margin-top: 50px;
        margin-bottom: 10px;
    }
    .features__text {
        margin: 0;
        padding: 0;
    }
}

@media (max-width: 790px) {
    .features {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        font-size: 16px;
    }
}

.work__button {
    width: 166px;
    height: 47px;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    box-shadow: -4px 12px 40px rgba(0, 1, 1, 0.2);
    background-color: #1a9bdc;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    grid-row-start: 4;
    grid-column-start: 1;
    grid-row-end: -1;
    grid-column-end: -1;
    transition-duration: 1s;
}

.work {
    background-color: #f5f5f5;
    padding: 0;
    padding-bottom: 100px;
    margin: 0 auto;
    width: 100%;
}

.work__container {
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    grid-gap: 55px;
    grid-template-columns: minmax(714px, 1fr) minmax(407px, 1fr);
    grid-template-rows: 1fr;
}

.work__how {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(2, 335px);
    grid-template-rows: 135px 88px 450px 43px;
}

.work__head {
    color: #494949;
    font-size: 45px;
    font-weight: 700;
    padding: 100px 0 0 0;
    margin: 0;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: -1;
}

.work__text {
    padding: 0 0 15px 0;
    margin: 0;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: -1;
    line-height: 30px;
}

.work__button:hover {
    transform: scale(1.2);
    box-shadow: -4px 12px 40px rgba(0, 2, 2, 0.2);
    background-color: #1a7aaa;
}

.work__text,
.article__text {
    color: #6a6a6a;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

@media (max-width: 1200px) {
    .work__container {
        width: 1200px;
        margin: 0 auto;
        grid-gap: 30px;
    }
}

@media (max-width: 1155px) {
    .work__container {
        grid-template-columns: 710px;
        grid-template-rows: 1fr 630px;
        grid-gap: 0;
    }
    .work__head {
        padding-top: 50px;
        font-size: 25px;
    }
    .work__text {
        font-size: 14px;
    }
    .work__how {
        display: grid;
        grid-gap: 40px;
        grid-template-columns: repeat(2, 335px);
        grid-template-rows: 75px 88px 450px 43px;
    }
}

@media (max-width: 750px) {
    .work__container {
        grid-template-columns: 1fr;
        grid-template-rows: 1.7fr 1fr;
        width: 100%;
    }
    .work__how {
        grid-gap: 0;
        grid-template-columns: 1fr;
        grid-template-rows: 90px 200px 1fr 100px 1fr;
    }
    .work {
        padding-bottom: 20px;
    }
    .work__button {
        grid-row-start: 4;
        grid-column-start: 1;
        grid-row-end: 5;
        grid-column-end: -1;
    }
}

.article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 335px;
    padding: 0;
    margin: 0 0 15px 0;
}

.article__container {
    color: #0087be;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 0 27px 0;
}

.article__line {
    padding: 0 10px;
    margin: 0;
}

.article__head {
    color: #6f6f6e;
    font-size: 20px;
    font-weight: 500;
    padding: 0;
    margin: 35px 0 13px 0;
}

.article__text {
    padding: 0;
    margin: 0;
}

.treatment__head {
    color: #494949;
    font-size: 20px;
    font-weight: 500;
    font-size: 20px;
}

.treatment__text {
    color: #6a6a6a;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.treatment__container--active {
    background-color: #1a9bdc;
    color: #ffffff;
}

.treatment__container {
    width: 422px;
    height: 54px;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 50px;
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.treatment__icon {
    font-family: 'Font Awesome 5 Free';
    color: #0087be;
    font-size: 22px;
    font-weight: 400;
}

.treatment__icon-container {
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    margin-right: 20px;
    margin-left: 6px;
}

.treatment__container--active {
    background-color: #0087be;
}

.treatment__head--active {
    color: #ffffff;
}

@media (max-width: 1155px) {
    .work__creative {
        padding: 0 20px;
    }
}

@media (max-width: 470px) {
    .treatment__container {
        width: 250px;
    }
}

.gallery {
    color: #ffffff;
    font-size: 45px;
    font-weight: 700;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 94px;
    background-image: url("./image/gallery__back.jpg");
    background-size: cover;
    text-align: center;
}

.gallery__wrapper {
    width: 1102px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 344px);
    grid-template-rows: 209px 209px;
    grid-gap: 35px;
}

.gallery__head {
    margin: 0;
    padding-top: 94px;
    width: 100%;
    text-align: center;
}

.gallery__text {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin: 0 auto;
    padding: 40px 20px 55px 20px;
    text-align: center;
}

@media (max-width: 1130px) {
    .gallery__wrapper {
        width: 725px;
        grid-template-columns: repeat(2, 344px);
        grid-template-rows: 209px 209px 209px;
        grid-gap: 30px;
    }
}

@media (max-width: 750px) {
    .gallery__wrapper {
        width: 364px;
        grid-template-columns: 344px;
        grid-template-rows: repeat(209px);
        grid-gap: 10px;
        padding: 0 10px;
    }
    .gallery__head {
        font-size: 25px;
    }
    .gallery__text {
        color: #ffffff;
        font-size: 14px;
    }
}

.gallery__image {
    margin: 0;
    padding: 0;
    transition-delay: 3s;
    /* visibility: visible; */
}


/* 
.gallery__image:hover {
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
    visibility: hidden;
} */


/* 
.gallery__card-text {
    width: 344px;
    height: 209px;
    padding: 20px;
    margin: 0;
    color: #6a6a6a;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    background-color: #1a9bdc;
    visibility: hidden;
    transition-delay: 3s;
}

.gallery__card-text:hover {
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
    visibility: visible;
}

.gallery__card-text--1 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
}

.gallery__card-text--2 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
}

.gallery__card-text--3 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
} */


/* 
.gallery__card-text--4 {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
}

.gallery__card-text--5 {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
}

.gallery__card-text--6 {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 4;
} */

.offer {
    min-height: 176px;
    background-color: #e2e2e2;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.offer__text {
    color: #494949;
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    margin-right: 70px;
}

@media (max-width: 750px) {
    .offer__text {
        font-size: 20px;
    }
}

@media (max-width: 1060px) {
    .offer__text {
        margin-right: 0;
    }
}

.team {
    padding: 0;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 279px);
    grid-template-rows: 235px 134px 1fr;
    justify-content: center;
    text-align: center;
    background-color: #f5f5f5;
}

.team__head {
    margin: 150px 0 50px 0;
    padding: 0;
    color: #494949;
    font-size: 45px;
    font-weight: 700;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: -1;
}

.team__text {
    margin: 0;
    margin-bottom: 84px;
    padding: 0;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: -1;
    line-height: 30px;
}

.team__item {
    margin: 0;
    padding: 0;
    color: #6f6f6e;
    font-weight: 500;
}

.team__name {
    font-size: 25px;
}

.team__link {
    color: #0087be;
    font-family: 'Font Awesome 5 Free';
    font-size: 25px;
    font-weight: 400;
}

.team__post {
    font-size: 18px;
}

.team__list {
    margin: 0 auto;
    padding: 0;
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 5;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 279px);
    grid-template-rows: 1fr;
    justify-content: center;
    background-color: #f5f5f5;
}

.team__item {
    margin-bottom: 135px;
}

@media (max-width: 1155px) {
    .team__list {
        grid-template-columns: repeat(2, 279px);
        grid-template-rows: 460px 460px;
    }
    .team {
        padding: 0;
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 279px);
        grid-template-rows: 235px 180px 1fr;
        justify-content: center;
    }
}

@media (max-width: 700px) {
    .team__list {
        grid-template-columns: 279px;
        grid-template-rows: repeat(4, 460px);
        margin-bottom: 10px;
    }
    .team {
        grid-template-columns: 279px;
    }
}

.page-footer {
    background-color: #171717;
    margin: 0 auto;
    width: 100%;
}

.page-footer__container {
    margin: 0 auto;
    padding: 0 50px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 115px 1fr 108px;
}

.get {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;
}

.get__container {
    display: flex;
    flex-direction: row;
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    align-items: center;
}

.get__icon {
    margin: 0;
    padding: 0;
}

.get__links {
    color: #ffffff;
    font-family: 'Font Awesome 5 Free';
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 1.8px;
}

.get__icon--mail {
    padding-right: 40px;
    width: 40px;
    height: 31px;
}

.get__icon--phone {
    padding-right: 49px;
    width: 27px;
    height: 40px;
}

.get__icon--place {
    padding-right: 49px;
    width: 38px;
    height: 40px;
}

.quick {
    margin: 0;
    padding: 0;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 3;
}

.services__head,
.quick__head,
.form__head,
.get__head {
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    margin-bottom: 70px;
}

.services {
    margin: 0;
    padding: 0;
    grid-row-start: 2;
    grid-column-start: 3;
    grid-row-end: 3;
    grid-column-end: 4;
}

.form {
    display: flex;
    flex-direction: column;
    grid-row-start: 2;
    grid-column-start: 4;
    grid-row-end: 3;
    grid-column-end: -1;
}

button,
input,
textarea {
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.form_button {
    width: 125px;
    height: 35px;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: #1a9bdc;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.32px;
    margin: 0;
    padding: 0;
    transition-duration: 1s;
}

.form_button:hover {
    transform: scale(1.2);
    box-shadow: -4px 12px 40px rgba(0, 2, 2, 0.2);
    background-color: #1a7aaa;
}

.form__input {
    height: 35px;
    width: 231px;
    border-bottom: 1px solid #c2c2c2;
    padding-bottom: 20px;
    margin-bottom: 25px;
}

.form__input--message {
    color: rgba(255, 255, 255, 0.5);
    width: 230px;
    height: 100px;
}

@media (max-width: 1100px) {
    .page-footer__container {
        padding: 0 20px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 50px 1fr 1fr 50px;
    }
    .get {
        grid-row-start: 2;
        grid-column-start: 1;
        grid-row-end: 3;
        grid-column-end: 2;
        margin-bottom: 20px;
    }
    .quick {
        grid-row-start: 2;
        grid-column-start: 2;
        grid-row-end: 3;
        grid-column-end: 3;
    }
    .services {
        grid-row-start: 3;
        grid-column-start: 1;
        grid-row-end: 4;
        grid-column-end: 2;
    }
    .form {
        grid-row-start: 3;
        grid-column-start: 2;
        grid-row-end: 4;
        grid-column-end: 3;
    }
    .get__icon--mail {
        padding-right: 10px;
    }
    .get__icon--phone {
        padding-right: 10px;
    }
    .get__icon--place {
        padding-right: 10px;
    }
    .services__head,
    .quick__head,
    .form__head,
    .get__head {
        font-size: 20px;
        margin-bottom: 20px;
    }
}

@media (max-width: 500px) {
    .page-footer__container {
        padding: 0 20px;
        grid-template-columns: 1fr;
        grid-template-rows: 20px 430px 250px 250px 360px 20px;
    }
    .get__container {
        margin-bottom: 10px;
    }
    .get {
        margin-bottom: 10px;
        grid-row-start: 2;
        grid-column-start: 1;
        grid-row-end: 3;
        grid-column-end: 2;
    }
    .quick {
        grid-row-start: 3;
        grid-column-start: 1;
        grid-row-end: 4;
        grid-column-end: 2;
    }
    .services {
        grid-row-start: 4;
        grid-column-start: 1;
        grid-row-end: 5;
        grid-column-end: 2;
    }
    .form {
        grid-row-start: 5;
        grid-column-start: 1;
        grid-row-end: 6;
        grid-column-end: 2;
    }
    .services__head,
    .quick__head,
    .form__head,
    .get__head {
        margin-bottom: 10px;
    }
}

.copyright {
    background-color: #1a1a1a;
    margin: 0;
    padding: 55px 0;
    text-align: center;
}

.copyright___text {
    background-color: #1a1a1a;
    margin: 0 auto;
    padding: 0;
}

.quick__item {
    list-style: none;
}

.quick__item:before {
    content: 'f0da';
    color: #0087be;
    font-family: 'Font Awesome 5 Free';
    font-size: 20px;
    font-weight: 400;
    line-height: 19.04px;
    letter-spacing: 1.8px;
    padding-right: 20px;
}

.services__item {
    list-style: none;
}

.services__item:before {
    content: '';
    color: #0087be;
    font-family: 'Font Awesome 5 Free';
    font-size: 20px;
    font-weight: 400;
    line-height: 19.04px;
    letter-spacing: 1.8px;
    padding-right: 20px;
}

.services__list,
.quick__list {
    padding: 0;
}