@font-face {
    font-family: "Georgia";
    font-display: swap;
    src: local("Georgia"), url("./font/georgiab.ttf") format("ttf");
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: "Georgia";
    font-display: swap;
    src: local("Georgia"), url("./font/georgiab.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
}

body {
    color: #888888;
    font-family: Georgia;
    font-size: 13px;
    font-weight: 400;
}

a {
    color: #888888;
    text-decoration: none;
}

button,
input,
textarea {
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

input:active,
input:hover,
input:focus {
    outline: 0;
    outline-offset: 0;
}

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked),
input[type="radio"]:checked,
input[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked+label,
input[type="checkbox"]:not(:checked)+label,
input[type="radio"]:checked+label,
input[type="radio"]:not(:checked)+label {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.page-header {
    border-top: 5px solid #81b300;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo__img {
    color: #333333;
    font-size: 36px;
    text-transform: uppercase;
    font-size: 46px;
}

.logo {
    padding: 0 30px;
    padding-top: 40px;
}

.logo__text {
    color: #999999;
    font-size: 12px;
}

.links__sign-items,
.links__sign-line {
    color: #81b300;
    font-size: 12px;
}

.links__sign {
    margin: 40px 0;
}

.main-nav__list {
    list-style: none;
    padding: 30px 0;
}

.main-nav {
    background-color: #81b300;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 30px;
}

.main-nav__item {
    display: inline;
    padding-right: 20px;
}

.main-nav__link {
    color: #ffffff;
}

.main-nav__link:hover {
    color: #000000;
}

.main-nav__search-input {
    width: 210px;
    height: 30px;
    background-color: #ffffff;
    box-sizing: border-box;
    border: 1px solid #ffffff;
    color: #7f7f7f;
    font-size: 12px;
    padding: 10px;
}

.main-nav__search-button {
    width: 70px;
    height: 30px;
    background-color: #ffffff;
    box-sizing: border-box;
    border: 1px solid #ffffff;
    color: #81b300;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: -2px;
}

.links__icon-container {
    width: 32px;
    height: 32px;
    background-color: #1f1f1f;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.links__social {
    width: 250px;
    height: 50px;
    background-color: #81b300;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0 0 20px 20px;
}

.links {
    padding: 0 30px;
}

.links__icon-container_twitter:hover {
    background-color: #1da0f1;
}

.links__icon-container_linkedin:hover {
    background-color: #01649b;
}

.links__icon-container_pinterest:hover {
    background-color: #e00022;
}

.links__icon-container_google:hover {
    background-color: #d85043;
}

.links__icon-container_rss:hover {
    background-color: #ea7c31;
}

.slider__img {
    padding: 9px;
    border: 1px solid #e2e2e2;
    background-color: #ffffff;
    margin-bottom: 20px;
}

.slider__button {
    width: 20px;
    height: 20px;
    background-color: #333333;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.slider__controls-label {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #333333;
    vertical-align: middle;
    border-radius: 50%;
    cursor: pointer;
}

.slider__controls-label_active {
    width: 8px;
    height: 8px;
    background-color: #f2f2f2;
    border: 1px solid #333333;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    cursor: pointer;
}

.slider__controls {
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.slider__toggles {
    width: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.enter {
    background-color: #f2f2f2;
    padding: 30px;
}

.enter__slider {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature__head {
    color: #81b300;
    font-size: 18px;
}

.feature__item {
    width: 205px;
    text-align: center;
}

.features__list {
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
    border-bottom: 1px solid #e2e2e2;
}

.project__head {
    color: #444444;
    font-size: 14px;
}

.project__link {
    color: #81b300;
}

.project__item {
    width: 210px;
}

.project__img {
    padding: 4px;
    border: 1px solid #e2e2e2;
}

.project {
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
}

.page-footer {
    background-color: #3b3b3b;
}

.page-footer__head {
    color: #666666;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.contacts__list {
    margin-top: 20px;
}

.blog__link {
    color: #81b300;
    font-size: 12px;
    float: right;
}

.blog__head {
    font-weight: bold;
}

.blog__label {
    color: #999999;
    font-size: 11px;
}

.page-footer__text_link {
    padding-bottom: 5px;
    border-bottom: 1px solid #484848;
}

.form_button {
    color: #81b300;
    font-weight: bold;
    text-transform: uppercase;
    width: 80px;
    height: 31px;
    background-color: #1f1f1f;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.form__input {
    width: 210px;
    height: 31px;
    background-color: #1f1f1f;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
}

.page-footer__form {
    display: flex;
    flex-direction: column;
}

.copyright {
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    background-color: #2e2e2e;
    padding: 20px 30px;
}

.page-footer__container {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 25px;
}

.page-footer__text,
.project__text,
.feature__text {
    line-height: 20.8px;
}